
<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>
<div class="container">
  <div class="upper-data">
    <img src="../assets/sunny.jpg" alt="" *ngIf="weather.main.temp-273.15>15">
    <img src="../assets/cloudy.jpg" alt="" *ngIf="weather.main.temp-273.15<=15">
    <div class="weather-data">
      <div class="location">{{weather.name}}</div>
      <div class="temperature">{{weather.main.temp-273.15 | number: '1.0-0'}}&#176;C</div>
    </div>
  </div>
  <div class="lower-data">
<div class="more-info-label">
  More Information
</div>
<div class="more-info-container">
  <div class="info-block">
    <div class="info-block-label">
      <img src="../assets/cold.webp" alt="">
      <span>min</span>
    </div>
    <div class="info-block-label-value">
      {{weather.main.temp_min-273.15 | number: '1.0-0'}}&#176;
    </div>
  </div>
  <div class="info-block">
    <div class="info-block-label">
      <img src="../assets/hot.webp" alt="">
      <span>max</span>
    </div>
    <div class="info-block-label-value">
      {{weather.main.temp_max-273.15 | number: '1.0-0'}}&#176;
    </div>
  </div>
  <div class="info-block">
    <div class="info-block-label">
      <img src="../assets/humidity.png" alt="">
      <span>Humidity</span>
    </div>
    <div class="info-block-label-value">
      {{weather.main.humidity}}%
    </div>
  </div>
  <div class="info-block">
    <div class="info-block-label">
      <img src="../assets/6991326.png" alt="">
      <span>wind</span>
    </div>
    <div class="info-block-label-value">
      {{weather.wind.speed}}km/h
    </div>
  </div>
</div>
  </div>
</div>
